<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/estilo.css">
    <script src="/javascript/front.js"></script>
    <title>Código</title>
</head>
<body>
    <form action="/form_codigo/<%= def%>" method="post">
        <div style="padding: 10%;"></div>
        <input type="text" id="cod_ger" name="cod_ger" placeholder="Digite o código">
        <input id="btn_imp_recarga" type="submit" name="btn_imp_recarga" value="Enviar" onclick="imp_recarga(lista, def);">
    </form>
</body>
</html>