<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/estilo.css">
    <script src="/javascript/front.js"></script>
    <title>Gerenciamento</title>
</head>
<body>
    <h1 style="color: red; padding-top: 5%; font-weight: bold; margin-bottom: 50px;">Bilhete: <%=codigo%></h1>
    <br>
    <br>
    <h2 style="color:#01A9DB; padding-left: 35%;">Recarga(s)</h2>
    <%for(let i = 0; i < lista.length; i++) {%>
        <% if(lista[i][2] == codigo){%>
            <h3 style="font-size: 1.3em; padding-left: 35%;padding-right: 10%; color:black;">Tipo: <%= lista[i][0]%><br> Data: <%= lista[i][1]%></h3><br><br>
        <%}%>
    <%}%>
</body>
</html>